/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	overflow:hidden;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside{
	display: block;
}


/*-------------------------
	The main page elements
--------------------------*/


body{
	font:15px/1.3 'Raleway', sans-serif;
	color: #fff;
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
}

#stage{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;

	transition:top 0.4s;
}

#stage > div{  /* The step divs */
	height:100%;
	position:relative;
}


#stage h1{
	font-weight:normal;
	font-size:60px;
	text-align:center;
	color:#5B547E;
	margin-bottom:60px;
	font-family: 'Fredoka One',
	cursive;
}

#stage h2{
	font-weight: normal;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: -40px 0 45px;
	font-style: italic;
}

.content{
	position:absolute;
	text-align:center;
	left:0;
	top:40%;
	width:100%;
}

.content input[type=file]{
	display:none;
}

a.back{
	width: 32px;
	height: 32px;
	background: url('../img/icons.svg') no-repeat -192px 0;
	position: fixed;
	cursor: pointer;
	top: 50px;
	left: 50%;
	z-index: 100;
	opacity: 0.8;
	margin-left: -16px;
	display:none;
}

a.back:hover{
	opacity:1;
}


/*-------------------------
	Conditional classes
--------------------------*/


[class*="if-"]{
	display:none;
}

body.encrypt .if-encrypt{
	display:block;
}

body.decrypt .if-decrypt{
	display:block;
}


/*-------------------------
	Button styles
--------------------------*/


.button{
	width: 20vw;
	height:70px;
	text-align:center;
	text-decoration: none !important;
	color:#fff !important;
	text-transform: uppercase;
	font-weight: bold;
	border-radius:999px;
	display:block;
	line-height:70px;
	box-shadow:3px 3px 0 rgba(0,0,0,0.08);
	cursor: pointer;
	font-size:24px;
	margin:20px auto;
	opacity:0.9;
}

.button:hover{
	opacity:1;
}

/* .button::before{
	content:'';
	background: url(../img/icons.svg) no-repeat;
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	padding-right: 13px;
	
} */

.button.green{
	background-color:rgb(44, 119, 117);
}

.button.magenta{
	background-color:#D57576;
}

.button.blue{
	background-color:#798dd7;
}

.button.red{
	background-color: #c15645;
}

/* Styles for specific buttons */

/* .button.browse{
	width:180px;
}

.button.process{
	width:190px;
} */

.button.download{
	width:8vw;
	display: inline-block;
	margin: 20px 20px;
}

.button.encrypt::before{
	background-position: 0 0;
}

.button.decrypt::before{
	background-position: -96px 0;
}

.button.browse::before{
	background-position: -240px 0;
}

.button.process::before{
	background-position: -142px 0;
}

.button.download:before{
	background-position:-48px 0;
}


/*-------------------------
	The steps
--------------------------*/


/* #step1{
	background-color:#75c0d1;
} */

/* body.encrypt #step2{
	background-color: #9ad58c;
} */

/* body.decrypt #step2{
	background-color: #E7A8D1;
} */

/* #step3{
	background-color:#d5d788;
} */

#step3 input[type=password]{
	background-color: #fff;
	border: none;
	padding: 8px 18px;
	line-height: 1;
	font: inherit;
	display: inline-block;
	outline: none;
	width: 400px;
	margin-bottom: 18px;
	border-radius: 999px;
	box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
	font-size: 36px;
	color: #555;
	text-align: center;
}

/* #step4{
	background-color:#aa8cd8;
} */

#step1 .content{	margin-top: -140px;}
#step2 .content{	margin-top:-110px;}
#step3 .content{	margin-top: -157px;}
#step4 .content{	margin-top: -200px;}


#elk{
	position:fixed;
	right: -20vw;
	bottom: 2vh;
	width:20vw;
	height:20vw;
	animation-name: run ;
	animation-duration:10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes run {
	from {
		right: -20vw;
	}
	to {
		right: 100vw;
	}
}